on:
  push:

jobs:
  static:
    name: Static checks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run lint
      - run: npm run tsc

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    env:
      PRESERVE_DATA_TEST_ATTRIBUTES: "true"

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: docker-compose up -d
      - run: npm ci
      - run: npm run test
