on:
  push:

jobs:
  static:
    name: Static checks
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run lint
      - run: npm run tsc

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    env:
      PRESERVE_DATA_TEST_ATTRIBUTES: "true"
      FLOW_ACCESS_NODE: "http://localhost:8080"
      FLOW_ACCOUNT_KEY_ID: "0"
      FLOW_ACCOUNT_PRIVATE_KEY: "92a2a78e29deff9f42cd0bcdf5079e831f8da83b013964d014d122a85c997662"
      FLOW_ACCOUNT_PUBLIC_KEY: "480eca7fc1fab1c8685d43c818b2f1446230bdbe2933b99b7c8dd7c59f03f09e2bff0e59ab99d40e8c04ab510e0e541107de1260825a663a6cae85746f91e32d"
      FLOW_INIT_ACCOUNTS_NO: "3"
      NEXT_PUBLIC_AVATAR_URL: "https://us-central1-flow-developer-playground.cloudfunctions.net/avatar/"
      NEXT_PUBLIC_FLOW_ACCOUNT_ADDRESS: "0xf8d6e0586b0a20c7"

    strategy:
      matrix:
        node-version: [15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: git clone https://github.com/orodio/harness
      - run: yarn --cwd ./harness install
      - run: PORT=3001 yarn --cwd ./harness start &
      - run: docker-compose up -d
      - run: cp .env.example .env
      - run: npm ci
      - run: npm run build
      - run: ./node_modules/.bin/next start --port 3000 &
      - run: npm run test
